<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>twin</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<resource-ref>
	    <res-ref-name>jdbc/DefaultDB</res-ref-name>
	    <res-type>javax.sql.DataSource</res-type>
  	</resource-ref>

	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>
			org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
		</servlet-class>
		<init-param>
			<param-name>jaxrs.serviceClasses</param-name>
			<param-value>by.iba.hackaton.twin.api.AuthenticationService,
						 by.iba.hackaton.twin.api.TwinService</param-value>
		</init-param>
		<init-param>
			<param-name>jaxrs.providers</param-name>
			<param-value>org.codehaus.jackson.jaxrs.JacksonJsonProvider</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/api/v1/*</url-pattern>
	</servlet-mapping>
	
	
	<filter>
	    <filter-name>CORS</filter-name>
	    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
	
	    <init-param>
	        <param-name>cors.allowGenericHttpRequests</param-name>
	        <param-value>true</param-value>
	    </init-param>
	
	    <init-param>
	        <param-name>cors.allowOrigin</param-name>
	        <param-value>*</param-value>
	    </init-param>
	
	    <init-param>
	        <param-name>cors.allowSubdomains</param-name>
	        <param-value>false</param-value>
	    </init-param>
	
	    <init-param>
	        <param-name>cors.supportedMethods</param-name>
	        <param-value>GET, HEAD, POST, DELETE, OPTIONS</param-value>
	    </init-param>
	
	    <init-param>
	        <param-name>cors.supportedHeaders</param-name>
	        <param-value>*</param-value>
	    </init-param>
	
	    <init-param>
	        <param-name>cors.supportsCredentials</param-name>
	        <param-value>true</param-value>
	    </init-param>
	
	    <init-param>
	        <param-name>cors.maxAge</param-name>
	        <param-value>3600</param-value>
	    </init-param>

	</filter>

	<filter-mapping>
	    <!-- CORS Filter mapping -->
	    <filter-name>CORS</filter-name>
	    <url-pattern>*</url-pattern>
	</filter-mapping>
	
<!-- 	<login-config> -->
<!-- 		<auth-method>FORM</auth-method> -->
<!-- 	</login-config> -->
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!--   			<web-resource-name>Protected Area</web-resource-name> -->
<!--   			<url-pattern>/*</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 	<auth-constraint> -->
<!--   		Role Everyone will not be assignable -->
<!--   		<role-name>Everyone</role-name> -->
<!-- 	</auth-constraint> -->
<!-- 	</security-constraint> -->
<!-- 	<security-role> -->
<!-- 		<description>All SAP Cloud Platform users</description> -->
<!-- 	<role-name>Everyone</role-name> -->
<!-- 	</security-role> -->
</web-app>