@media (min-width:1700px){
	html.sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox {
	    width: 1700px !important;
	    margin-left: -850px !important;
	}
}

#topleft { padding:5px;
    position: absolute;
    width: 200px;
    height:10%
    left: 5%;
    top: 5%;
    z-index: 100;
    border: 1px dotted #999999;
    color:yellow;
    font-size:11px
}

#topright{ padding:5px;
	    color:yellow;
    position: absolute;
    width: 200px;
    right: 5%;
    top: 5%;
    z-index: 100;
    border: 1px dotted #999999;
    font-size:11px;
}
#bottom{ padding:5px;
	    color:black;
    position: absolute;
    width: 75%px;
    left: 0%;
    bottom: 5%;
    z-index: 100;
    border: 1px dotted #999999;
    font-size:14px;
}
